/Fatorial.class
/MultiplosDeTresAteCem.class
/TestaCaracteres.class
/TestaCondicional.class
/TestaCondicional2.class
/TestaConversao.class
/TestaEscopo.class
/TestaFor.class
/TestaLaco2.class
/TestaLacos.class
/TestaPontoFlutuante.class
/TestaVariaveis.class
/TestaWhile.class
/TesteIR2.class
